<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>

<p>
  <h2 class="title"><%= @trip.location %></h2>
</p>

<p>
  <strong>Leaving on:</strong>
  <%= @trip.trip_start_date %>
</p>

<p>
  <strong>Coming back:</strong>
  <%= @trip.trip_end_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trip.description %>
</p>

<% @results.each do |venue| %>
  <%= venue["name"] %>
  <%= venue["lat"] %>
  <%= venue["long"] %>
  <%= venue["address"] %>
  <%= venue["url"] %>
<% end %>

<div id="googleMap" style="width:1200px;height:380px;"></div>

<script src="http://maps.googleapis.com/maps/api/js?sensor=false">
</script>

<script>
  function makeMarker(map, name, url, lat, long) {
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(lat,long),
      animation: google.maps.Animation.DROP, 
      map: map
    });

    var contentString = '<div id="content">'+
    '<div id="siteNotice">'+
    '</div>'+
    '<h1 id="firstHeading" class="firstHeading">' + name + '</h1>'+
    '<div id="bodyContent">'+
    '<p>' + url + '</p> '+
    '</div>'+
    '</div>';

    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map,marker);
    });
  }

  function initialize() {
    var mapProp = {
      center: new google.maps.LatLng(51.508742,-0.120850),
      zoom:11,
      mapTypeId:google.maps.MapTypeId.ROADMAP
      };
     map=new google.maps.Map(document.getElementById("googleMap")
      ,mapProp);

    <% @results.each do |loc| %>
      makeMarker(map, "<%= loc['name'] %>", "<%= loc['url'] %>", "<%= loc['lat'] %>", "<%= loc['long'] %>") 
    <% end %>
  }

  function drop() {
    for (var i =0; i < markerArray.length; i++) {
      setTimeout(function() {
        addMarkerMethod();
      }, i * 200);
    }
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
